.expanding-div3 {
    height: 30px;
    width: 0px;
    background-color: #635BFF;
    transition: margin-left 2.5s ease; /* Add a transition effect for width */
    outline: 0;
    margin-left: 100%;
    margin-right: 0;
  }
  
.expanded3 {
  width: 60%;
  margin-left: 25%;


}

@media screen and (max-width: 1000px) {
    .expanding-div3 {
      height: 25px;
    }
  
    .expanded3 {
        width: 50%;
        margin-left: 45% 
    }
    
  }

  @media screen and (max-width: 1400px) and (min-width: 1001px) {
    .expanding-div3 {
      height: 30px;
    }
    
    .expanded3 {
      width: 70%;
      margin-left: 25%;
    }
  }

  /* mobile screens */

  @media screen and (max-width: 600px) {
    .expanding-div3 {
      height: 15px;
      transition: margin-left 2.5s ease;
      margin-left: 100%;
    }
  
    .expanded3 {
      width: 60%;
      margin-left: 0%;
    }
  }